azure-eventhub==5.5.0
azure-eventhub-checkpointstoreblob-aio==1.1.4
azure-identity==1.2.0
azure-keyvault==1.1.0
azure-keyvault-secrets==4.0.1
azure-schemaregistry==1.0.0b1
azure-storage-file-datalake==12.3.1
avro==1.10.2
codecov==2.0.15
coverage==5.0.3
dotted==0.1.8
opencensus-ext-azure==1.0.2
pandas==0.25.3  
pylint==2.4.4
pylint-junit==0.2.0
pyodbc==4.0.30
pytest==5.3.5
pytest-cov==2.8.1
unittest-pyspark==0.0.5
xmltodict==0.12.0
